1. ѕросмотр продуктов в общем каталоге (в т.ч. данных о продажах)
2. ѕросмотр продуктов в конкретном магазине
3. ѕросмотр заказов дл€ каждого магазина
4. ѕросмотр данных о пользователе (истори€ покупок) 
5. ѕросмотр данных по поставкам (какие продукты куда поставл€лись и в каком кол-ве)
6. ќтслеживание жизненного цикла продукта (врем€ пребывани€ на каждом этапе жц)
7. —равнение продуктов по кол-ву заказов, времени реализации и т.д.
8. —равнение продукта по показател€м из предыдущего пункта с учетом специального предложени€ и без него
9. —равнение заказов из разных магазинов 
