1. просмотр продуктов в общем каталоге (в т.ч. данных о продажах) - много продуктов
SELECT * FROM product pr
LEFT JOIN order_detail od ON od.product_id = pr.id;
2. просмотр продуктов в конкретном магазине - много продуктов 
SELECT st.id, st.name, pim.product_id, 
pim.quantity,
pr.name, pr.type 
FROM "storage" st 
JOIN invoice inv ON st.id = inv.final_storage_id 
JOIN product_in_movement pim ON inv.id = pim.invoice_id 
JOIN product pr ON pim.product_id = pr.id
                WHERE (((SELECT SUM(quantity) FROM product_in_movement pim 
JOIN invoice inv ON pim.invoice_id = inv.id WHERE inv.final_storage_id = st.id) - 
            (SELECT SUM(quantity) FROM product_in_movement pim 
JOIN invoice inv ON pim.invoice_id = inv.id WHERE inv.original_storage_id = st.id)) > 0)         
                GROUP BY st.id, st.name, pim.product_id, pim.quantity, pr.name, pr.type;
3. просмотр заказов длЯ каждого магазина - очень много заказов
SELECT st.id, st.name, ord.order_number, ord.order_date, od.product_id, od.quantity, od.price, pr.name, pr.type FROM "storage" st 
LEFT JOIN invoice inv ON st.id = inv.final_storage_id 
JOIN product_in_movement pim ON inv.id = pim.invoice_id 
JOIN product pr ON pim.product_id = pr.id 
JOIN order_detail od ON pr.id = od.product_id 
JOIN "order" ord ON od.order_number = ord.order_number;
4. просмотр данных о пользователе (историЯ покупок) - много данных о пользователе, очень много данных о покупках
SELECT * FROM customer cst 
LEFT JOIN "order" ord ON cst.id = ord.customer_id 
JOIN order_detail ordd ON ord.order_number = ordd.order_number;
5. просмотр данных по поставкам (какие продукты куда поставлЯлись и в каком кол-ве)  - очень много данных по поставкам
SELECT st.id, st.name, pim.product_id, pim.quantity, pr.name, pr.type, pr.price FROM "storage" st 
JOIN invoice inv ON st.id = inv.final_storage_id 
JOIN product_in_movement pim ON inv.id = pim.invoice_id 
JOIN product pr ON pim.product_id = pr.id;
6. отслеживание жизненного цикла продукта (времЯ пребываниЯ на каждом этапе жц)
SELECT pr.id, pr.name, pr.type, inv.movement_date, ord.order_date  FROM product pr 
LEFT JOIN product_in_movement pim ON pr.id = pim.product_id
JOIN invoice inv ON pim.invoice_id = inv.id
JOIN order_detail od ON pr.id = od.product_id 
JOIN "order" ord ON od.order_number = ord.order_number;
7. сравнение продуктов по кол-ву заказов, времени реализации и т.д.  - очень много данных о заказах
SELECT * FROM product pr 
LEFT JOIN order_detail od ON pr.id = od.product_id 
WHERE pr.id IN('1', '2');
8. сравнение продукта, по показателЯм из предыдущего пункта с учетом специального предложениЯ и без него - очень много данных о заказах
SELECT * FROM product pr 
LEFT JOIN order_detail od ON pr.id = od.product_id 
WHERE pr.id = '5' AND od.special_offer_id IS NULL OR  od.special_offer_id IS NOT NULL;
9. сравнение заказов из разных магазинов  - очень много данных о заказах
SELECT st.id, st.name, ord.order_number, ord.order_date, od.product_id, od.quantity, od.price, pr.name, pr.type FROM "storage" st 
LEFT JOIN invoice inv ON st.id = inv.final_storage_id 
JOIN product_in_movement pim ON inv.id = pim.invoice_id 
JOIN product pr ON pim.product_id = pr.id JOIN order_detail od ON pr.id = od.product_id JOIN "order" ord ON od.order_number = ord.order_number 
WHERE st.id IN('1', '4')
GROUP BY st.id, st.name, ord.order_number, ord.order_date, od.product_id, od.quantity, od.price, pr.name, pr.type;

